<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http auto-config="true">
        <security:intercept-url pattern="/members.xhtml" access="isAuthenticated()"/>
        <security:intercept-url pattern="/registration.xhtml" access="isAnonymous()"/>
        <security:intercept-url pattern="/login.xhtml" access="isAnonymous()"/>
        <security:csrf disabled="true"/>
        <security:form-login login-page="/login.xhtml" login-processing-url="/j_spring_security_check"
                             username-parameter="username"
                             password-parameter="password" default-target-url="/members.xhtml"
                             always-use-default-target="true"/>
        <security:logout logout-success-url="/" logout-url="/j_spring_security_logout" invalidate-session="true"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="SecurityUserDetailsService"/>
    </security:authentication-manager>

    <bean id="SecurityUserDetailsService" class="ua.app.classroom.service.SecurityUserDetailsService"/>
</beans>